[submodule "links/zsh/fzf"]
	path = links/zsh/fzf
	url = git@github.com:Aloxaf/fzf-tab.git
[submodule "links/zsh/fzf-git.sh"]
	path = links/zsh/fzf-git.sh
	url = git@github.com:junegunn/fzf-git.sh.git
[submodule "links/tmux/tpm"]
	path = links/tmux/config/tpm
	url = https://github.com/tmux-plugins/tpm
