# Machine specific for vim
# TODO: fix this list
links/vim/backup/
links/vim/swap/
links/vim/.netrwhist
links/vim/plugged/
links/vim/view/

# Ignore everything in the undo directory
links/vim/undo/*
# But not the placeholder file
!links/vim/undo/placeholder


# Machine specific for nvim
# TODO: fix this list
links/nvim/backup/
links/nvim/swap/
links/nvim/.netrwhist
links/nvim/plugged/
links/nvim/view/

# Ignore everything in the undo directory
links/nvim/undo/*
# But not the placeholder file
!links/nvim/undo/placeholder


# Tags. Because for some reason I need that in my .dotfiles :eye-roll:
tags

# zsh completion cache. It has to go somewhere, might as well be here
links/zsh/zcompcache/

# These files are specifically meant to be localized to the host
localrc
local_gitconfig

# Ignore opencode installation artifacts
opencodetmp
